@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Open+Sans:ital,wght@0,700;0,800;1,400;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  max-width: 1920px;
}
/* ---------shared---------- */
.gray-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #534c64;
}

/* ------------------------Nav section---------------------------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.title .gamer {
  font-size: 45px;
  font-weight: 700;
  color: #0b0223;
}
.gamer .g {
  color: #ff42a5;
}
nav .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-links ul,
a {
  list-style: none;
  text-decoration: none;
}
.nav-links ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-links li {
  font-size: 1.2rem;
  font-weight: 500;
  color: #3c354f;
}
.follow-us-icon {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  color: #0b0223;
  width: 262px;
  height: 56px;
  padding: 17px 24px;
}
/* ----------------------Banner section -------------------------*/
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.banner-content {
  padding: 200px 280px 150px 200px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  background-image: url(images/Group\ 14.png);
}
.banner-content h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #0b0223;
}
.banner-content h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  color: #f948b2, #8758f1;
}
.banner-content ul {
  list-style: none;
}
.banner-content ul li {
  margin-top: 1rem;
}
.banner-content button {
  margin-top: 1rem;
}
.banner-content .banner-btn {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  padding-left: 30px;
}
.banner-btn .sign-in {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #ffffff;
  padding: 21px 40px;
}
.banner-btn .go-rogue {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #ffffff;
}
.banner-img {
  width: 100%;
  text-align: center;
}

/* -----------------Online Games section-------------------------*/

.games-content {
  text-align: center;
  margin: 0 400px 20px 400px;
}
.games-content h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #0b0223;
}
.games-content h3 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.games-preview .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.3rem;
  margin: 50px 240px 0 240px;
}

/*----------------------------- Instant play-------------------------- */

.instant-play {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 12rem;
}
.instant-play .play-content {
  text-align: center;
  margin-left: 300px;
  margin-bottom: 300px;
}
.play-content {
  font-size: 48px;
  font-weight: 700;
}
.play-content h3 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mini-img {
  position: relative;
  bottom: 300px;
  right: 100px;
}

/* ----------------------Game Options---------------------------- */
.game-opt {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  height: 427px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  margin-left: 100px;
}
#r1,
#r2,
#r3,
#r4 {
  margin-left: 60px;
}
/* .game-opt .opt-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
}
.game-opt .opt-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 40px;
  margin-left: 150px;
  margin-right: 100px;
} */
.opt {
  background-color: #fff;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 248px;
  height: 80px;
  padding-left: 1rem;
  padding-right: 0;
}

/* ----------------Footer---------------- */
.footer {
  background: #0b0223;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-info ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.footer-info a {
  text-decoration: none;
  color: #ffffff;
}
.footer-icon ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
.policy ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.policy a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

/* ----------------Responsive Section --------------------- */

/* small device */
@media screen and (max-width: 576px) {
  nav,
  .nav-links ul {
    flex-direction: column;
    flex: 1;
    width: auto;
  }

  /* header{                                                      #problem
    max-width: auto; */

  .banner,
  .games-preview .card,
  .instant-play {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-content {
    padding: 20px 60px 30px 150px;
  }
  .games-content {
    margin: 50px 225px;
  }
  .mini-img {
    width: 100%;
  }
  .game-opt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
